body{
	margin:0;
	height: 100vh;
	/* vh相对于视口的高度。视口被均分为100单位的vh*/
	display: flex;
	align-items: center;
	justify-content: center;
	background:linear-gradient(skyblue,lightblue);
	/*背景色线性渐变*/
}
:root{
	--font-size:10px;
}
.umbrella *::before,
.umbrella *::after{
	content: '';
	position: absolute;
}
.umbrella{
	position: relative;
	width: 25em;
	height: 26em;
	font-size: var(--font-size);
	/*border:1px dashed black;*/
}
/*定义伞盖尺寸*/
.umbrella .canopy{
	position: absolute;
	width: inherit;
	height: 5.5em;
	/*border:1px dashed red;*/
	top:2.5em;
}
/*伞盖上半部分*/
.umbrella .canopy::before{
	width: inherit;
	/*继承宽度*/
	height: 12.5em;
	background: rgb(100,100,100);
	border-radius: 12.5em 12.5em 0 0;
	transform:scaleY(0.4);
	top:-4em;	
}
/*伞盖下半部分*/
.umbrella .canopyed::after {
    width: inherit;
    height: 1.5em;
    background-color: #333;
    top: 4em;
    border-radius: 50%;
}
/*长柄*/
.umbrella .shaft {
    position: absolute;
    width: 0.8em;
    height: 18em;
    background-color: rgba(100, 100, 100, 0.7);
    top: 5.5em;
    left: calc((100% - 0.8em) / 2);
    /*计算属性*/
}
.umbrella .shaft::before{
	width: 6em;
    height: 3em;
    background-color: rgba(100, 100, 100, .7);
    left: calc((100% - 6em) / 2);
    top: -5.5em;
    border-radius: 6em 6em 0 0;
    transform: scaleX(0.1);
}
/*把手*/
.umbrella .shaft::after {
    box-sizing: border-box;
    width: 4em;
    height: 2.5em;
    border: 1em solid #333;
    top: 100%;
    left: calc(50% - 4em + 1em / 2);
    border-radius: 0 0 2.5em 2.5em;
    /*去掉上边线*/
    border-top: none;
}
/*雨伞打开end*/
.umbrella .canopy {
    transform-origin: top;
    transform: scale(0.08, 4);
}
/*隐藏伞盖下半部分*/
/*.umbrella .canopy::after {
    transform: scaleY(0);
}*/
/*角度倾斜30*/
.umbrella {
    transform: rotate(-30deg);
}
.toggle {
    position: absolute;
    filter: opacity(0);
    width: 25em;
    height: 26em;
    font-size: var(--font-size);
    cursor: pointer;
    z-index: 2;
}
.umbrella .canopyed::after{
	transform: scaleY(1);
}
/*.toggle:checked ~ .umbrella {
    transform: rotate(0deg);
}
.toggle:checked ~ .umbrella .canopy {
    transform: scale(1, 1);
}
.toggle:checked ~ .umbrella .canopy::after {
    transform: scaleY(1);
}*/
.umbrella,
.umbrella .canopy,
.umbrella .canopyed::after{
    transition: 0.3s cubic-bezier(0.5, -0.25, 0.5, 1.25);
}